section.reviews
	.container
		.reviews__row
			+title('Отзывы о прошедших поездках', '', 'title--medium reviews__title')
			+button('Все клубные поездки', 'button--angle reviews__more', 'arrow-angle')
		.reviews__wrapper
			.reviews-card.swiper-slide
				.reviews-card__left
					.reviews-card__bg
						img(src="images/homepage/courses/3.jpg", srcset="images/homepage/courses/3@2x.jpg 2x", width="397", height="341", alt="")
					.reviews-card__content
						.reviews-card__place Мальдивы
						.reviews-card__title Золотой треугольник
						.reviews-card__desc Манты, китовые акулы и сафари вдоль райских островов.
						.reviews-card__bottom
							a(href='#', target='_blank') Подробнее
							.reviews-card__date 01.05.2021
				.reviews-card__right
					.swiper-container.__js_reviews-carousel
						.swiper-wrapper
							.swiper-slide
								.reviews-card__row
									.reviews-card__col
										.reviews-card__person
											.reviews-card__avatar
												img(src="images/homepage/courses/3.jpg", srcset="images/homepage/courses/3@2x.jpg 2x", width="397", height="341", alt="")
											.reviews-card__person-info
												p Александр
												p Мальдивы
										.reviews-card__text
											p Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют
												|  от нас анализа систем массового участия.
											p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует
												|  подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
											p Значимость этих проблем настолько очевидна, что сложившаяся...
									.reviews-card__col
										.reviews-card__person
											.reviews-card__avatar
												img(src="images/homepage/courses/3.jpg", srcset="images/homepage/courses/3@2x.jpg 2x", width="397", height="341", alt="")
											.reviews-card__person-info
												p Андрей
												p Мальдивы
										.reviews-card__text
											p Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу
												|  (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
											p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции
												|  в значительной степени обуславливает создание систем массового участия. Равным образом
												|  рамки и место обучения кадров требуют...
							.swiper-slide
								.reviews-card__row
									.reviews-card__col
										.reviews-card__person
											.reviews-card__avatar
												img(src="images/homepage/courses/3.jpg", srcset="images/homepage/courses/3@2x.jpg 2x", width="397", height="341", alt="")
											.reviews-card__person-info
												p Александр
												p Мальдивы
										.reviews-card__text
											p Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют
												|  от нас анализа систем массового участия.
											p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует
												|  подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
											p Значимость этих проблем настолько очевидна, что сложившаяся...
									.reviews-card__col
										.reviews-card__person
											.reviews-card__avatar
												img(src="images/homepage/courses/3.jpg", srcset="images/homepage/courses/3@2x.jpg 2x", width="397", height="341", alt="")
											.reviews-card__person-info
												p Андрей
												p Мальдивы
										.reviews-card__text
											p Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу
												|  (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
											p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции
												|  в значительной степени обуславливает создание систем массового участия. Равным образом
												|  рамки и место обучения кадров требуют...
					.reviews__mobile-wrapper
						+button('', 'button--outline button--icon slick-prev reviews__prev', 'chevron-right')
						.reviews__pagination
						+button('', 'button--outline button--icon slick-next reviews__next', 'chevron-right')
					a.reviews-card__report(href='', target='_blank') Перейти к фотоотчету
			+button('', 'button--outline button--icon slick-prev reviews__prev', 'chevron-right')
			+button('', 'button--outline button--icon slick-next reviews__next', 'chevron-right')