footer.footer
	.container.footer__container
		.footer__wrapper
			.footer__group
				.footer__accordion-item
					a(href='#', target='_blank') Обучение дайвингу
					+icon('arrow-angle')(width='15', height='10')
				.footer__inner-wrapper
					.footer__col.footer__col--full
						.footer__accordion-item-subcategory
							a(href='#', target='_blank') SDI
						ul.footer__list.footer__list--inner
							li
								a(href='#', target='_blank') OWD
							li
								a(href='#', target='_blank') Ice Diver
							li
								a(href='#', target='_blank') Adventure Open Water
							li
								a(href='#', target='_blank') Sidemount Diver
							li
								a(href='#', target='_blank') Advanced Buoyancy
							li
								a(href='#', target='_blank') Rescue Diver
							li
								a(href='#', target='_blank') Advanced Buoyancy ext
							li
								a(href='#', target='_blank') SDI Divemaster
							li
								a(href='#', target='_blank') U/W Navigation
							li
								a(href='#', target='_blank') Assistant Instructor
							li
								a(href='#', target='_blank') Deep Diver
							li
								a(href='#', target='_blank') SDI Advanced SCUBA Diver certification
							li
								a(href='#', target='_blank') Night Diver
							li
								a(href='#', target='_blank') Dry Suit Diver
					.footer__col.footer__col--small
						.footer__accordion-item-subcategory
							a(href='#', target='_blank') TDI
						ul.footer__list.footer__list--inner
							li
								a(href='#', target='_blank') TDI Basic Nitrox
					.footer__col.footer__col--big
						.footer__accordion-item-subcategory
							a(href='#', target='_blank') FRTI
						ul.footer__list.footer__list--inner
							li
								a(href='#', target='_blank') Adult and Child Emergency Care
							li
								a(href='#', target='_blank') O2 Administrator
			.footer__col
				.footer__accordion-item
					a(href='#', target='_blank') Каталог товаров
					+icon('arrow-angle')(width='15', height='10')
				ul.footer__list
					li
						a(href='#', target='_blank') Костюмы
					li
						a(href='#', target='_blank') Аксессуары
					li
						a(href='#', target='_blank') Такелаж
					li
						a(href='#', target='_blank') Фонари
					li
						a(href='#', target='_blank') Ребризер
					li
						a(href='#', target='_blank') Подводная съемка
					li
						a(href='#', target='_blank') Ласты
					li
						a(href='#', target='_blank') Катушки и буи
					li
						a(href='#', target='_blank') Sidemount
			.footer__col
				.footer__accordion-item
					a(href='#', target='_blank') Для клиентов
					+icon('arrow-angle')(width='15', height='10')
				ul.footer__list
					li
						a(href='#', target='_blank') Подарочные сертификаты
					li
						a(href='#', target='_blank') Новости
					li
						a(href='#', target='_blank') Клубные поездки
					li
						a(href='#', target='_blank') О нас
					li
						a(href='#', target='_blank') Контакты
					li
						a(href='#', target='_blank') Личный кабинет
					li
						a(href='#', target='_blank') Сертификация
		.footer__wrapper.footer__wrapper--bottom
			.footer__col
				p Политика конфиденциальности
				p Обработка персональных данных
			.footer__col.footer__col--author
				p Создание и продвижение сайта:
				p
					a(href='#', target='_blank') mockup.digital
			.footer__col
				p Мы в соцсетях:
				+socials('socials--horizontal footer__socials', ['tiktok', 'vk-fill', 'insta', 'fb'])
			.footer__col
				.footer__logos
					+icon('logo-tdi')(width='101', height='47')
					+icon('logo-sdi')(width='98', height='47')
				p 2021 © Все права защищены
