.cabinet {
  $self: &;

  min-height: 400px;

  &__container {
    display: flex;

    @include max(md) {
      display: block;
    }
  }

  &__nav {
    width: 100%;
    max-width: 292px;
    border: solid 1px $gray;
    align-self: flex-start;

    @include max(md) {
      display: flex;
      flex-wrap: wrap;
      max-width: none;
      margin-bottom: 30px !important;
    }

    &-item {
      display: flex;

      @include max(md) {
        width: 25%;
      }

      @include max(sm) {
        width: 50%;

        border: solid 1px $gray;
        border-top: none;

        &:nth-child(odd) {
          border-left: none;
        }
        &:nth-child(even) {
          border-right: none;
        }
        &:nth-last-child(-n + 2) {
          border-bottom: none;
        }
      }

      &--current {
        #{$self}__nav-link {
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          margin: -1px;
          color: $white;
          background-color: $blue;
          pointer-events: none;
        }

        #{$self}__nav-icon {
          svg {
            fill: $white;
          }
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 35px;
      font-size: 15px;
      line-height: 1.2;
      color: $dark;
      transition: background-color 0.3s ease;

      @include max(md) {
        padding: 30px;
      }

      @include max(sm) {
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
      }

      @include hover {
        background-color: $lightBlue3;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 10px;

      @include max(sm) {
        width: 35px;
        height: 35px;
        margin-right: 0;
        margin-bottom: 5px;
      }

      svg {
        display: block;
        width: auto;
        height: 100%;
        fill: $dark;
      }
    }
  }

  &__nav + &__main {
    width: calc(100% - 291px);
    margin-left: -1px;
    //border-left: none;

    @include max(md) {
      width: 100%;
    }

    @include max(sm) {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
  }

  &__main {
    padding: 50px;
    border: solid 1px $gray;

    @include max(md) {
      border-left: none;
      border-right: none;
    }

    @include max(sm) {
      padding: 50px 20px;
    }

    &--bg {
      border: none;
      background-color: $smoky;
    }

    &--unbordered {
      border: none;
    }

    &--simple {
      padding: 0;
      border: none;
    }

    &--no-pb {
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    color: $dark;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 644px;

    margin-top: -30px;
    margin-left: -30px;

    @include max(sm) {
      max-width: none;
      margin-top: -40px;
      margin-left: -20px;
    }

    &-title {
      width: 100%;
      margin-left: 30px;
      margin-top: 30px;

      @include max(sm) {
        margin-top: 40px;
        margin-left: 20px;
      }
    }

    &-field {
      width: 100%;
      margin-left: 30px;
      margin-top: 18px;
      align-self: flex-end;

      @include max(sm) {
        margin-left: 20px;
      }

      &--half {
        width: calc(50% - 30px);

        @include max(sm) {
          width: calc(50% - 20px);
        }

        @include max(xs) {
          width: 100%;
        }
      }

      &--address {
        width: calc(100% - 320px);
        flex-grow: 1;

        @include max(sm) {
          width: calc(100% - 310px);
        }

        @include max(xs) {
          width: 100%;
        }
      }

      &--house {
        width: 70px;
        margin-left: 30px;

        @include max(sm) {
          width: calc(100% - 189px);
          margin-left: 20px;
        }
      }

      &--flat {
        width: 70px;
        margin-left: 20px;

        @include max(xs) {
          width: 75px;
          margin-left: 15px;
        }
      }

      &--intercome {
        width: 70px;
        margin-left: 20px;

        @include max(xs) {
          width: 64px;
          margin-left: 15px;
        }
      }

      &.button {
        width: auto;
        min-width: 170px;
        background-color: transparent;
      }
    }

    &-bottom {
      width: 100%;
    }

    &-send {
      margin-top: 30px;
      margin-left: 30px;

      @include max(sm) {
        margin-top: 20px;
        margin-left: 20px;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    @include max(sm) {
      margin-top: 25px;
    }
  }

  &__infotext {
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.22;
    color: $gray-ph;

    &--discount {
      @include max(sm) {
        display: none;
      }
    }

    b {
      color: $dark;
      font-weight: 500;
    }
  }

  &__discount-status {
    margin-bottom: 30px;

    @include max(sm) {
      display: none;
    }
  }

  &__order-notice {
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.22;
    color: $dark;

    @include max(sm) {
      margin-top: -32px;
      font-size: 15px;
      line-height: 1.466666666666667;
    }
  }

  &__order-status {
    max-width: 608px;
    margin-bottom: 50px;

    @include max(md) {
      //width: 100%;
      max-width: none;
    }
  }

  &__result {
    margin-top: 35px;

    @include max(md) {
      //width: 100%;
      max-width: none;
    }

    @include max(sm) {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-top: 15px;
    }
  }

  &__accept-message {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.22;
    color: $dark;
  }

  &__order-info {
    margin-top: 35px !important;

    li {
      font-size: 15px;
      line-height: 1.22;
      color: $gray-ph;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: $blue;
      }

      span {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        color: $dark;
      }
    }

    li + li {
      margin-top: 6px;
    }
  }
}
