.certification-card {
  padding: 30px;
  border: solid 1px $gray;
  border-radius: 5px;

  @include max(sm) {
    padding: 50px 20px;
  }

  &__main {
    font-size: 15px;
    line-height: 1.6;
    color: $gray-ph;

    @include max(sm) {
      display: flex;
      flex-direction: column;

      line-height: 26px;
    }

    &::after {
      content: "";
      display: table;
      width: 100%;
      clear: both;
    }

    p + p {
      margin-top: 20px;

      @include max(sm) {
        margin-top: 25px;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
    color: $dark;

    @include max(sm) {
      order: -1;
      line-height: 27px;
    }
  }

  &__image {
    &.float-right {
      margin-left: 20px;
      //margin-bottom: 20px;
    }
    &.float-left {
      margin-right: 20px;
      //margin-bottom: 20px;
    }

    img {
      display: inline-block;
      vertical-align: top;

      @include max(xs) {
        max-width: 120px;
        height: auto;
      }
    }

    @include max(sm) {
      float: none !important;
      margin: 0 0 30px !important;
      text-align: center;
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;

    @include max(xs) {
      flex-direction: column;
    }
  }

  &__btn {
    margin-top: 12px;
    margin-right: 20px;

    @include max(xs) {
      margin-right: 0;
      align-self: flex-start;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
