.shop-slider {
  position: relative;
  z-index: 0;

  /*.test-line {
    position: absolute;
    z-index: 2000;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    width: 1240px;
    height: 40px;
    background-color: rgba(yellow, 1);

    &--red {
      background-color: rgba(red, 0.4);
      transform: translateX(0);
      left: 300px;
    }
  }*/
}
