.tutorials {
  padding: 52px 0 30px;
  background-color: $gray-f3;
  position: relative;

  @include max(md) {
    padding: 50px 0;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;

    &::after {
      content: "";
      width: 70%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(
        270deg,
        #f3f5f6 0.07%,
        rgba(200, 209, 223, 0) 100%
      );

      @include max(md) {
        width: 100%;
        background: linear-gradient(
          270deg,
          #f3f5f6 65%,
          rgba(200, 209, 223, 0) 100%
        );
      }
    }
  }

  &__container {
    position: relative;
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include max(md) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    @include max(md) {
      text-align: center;
    }
  }

  &__all {
    font-size: 19px;
    font-weight: 500;
    color: $blue;
    transition: color 0.3s ease;

    @include max(md) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 21px;
    }

    @include hover {
      color: $blue-hover;

      svg {
        fill: $blue-hover;
      }
    }

    svg {
      width: 10px;
      height: 10px;
      fill: $blue;
      transition: fill 0.3s ease;
    }
  }

  &__wrapper {
    margin-top: 16px;

    @include max(md) {
      margin-top: 19px;
    }
  }

  &__item {
    //padding: 25px;
    //background-color: $white;
    width: 100%;
    max-width: 292px;
    //margin-right: 24px;

    /*.product-preview {
      &__image {
        //height: 171px;
      }

      &__title {
        //margin-top: 18px;

        @include max(md) {
          //margin-top: 14px;
        }
      }

      &__text {
        @include max(md) {
          margin-top: 9px;
          margin-bottom: 11px;
        }
      }

      &__bottom {
        justify-content: flex-start;

        @include max(md) {
          justify-content: space-between;
        }
      }

      &__price {
        //margin-left: 17px;
      }
    }*/
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    @include max(xl) {
      margin-top: 19px;
    }

    @include max(xs) {
      justify-content: space-between;
    }
  }

  &__pagination {
    display: none;
    justify-content: center;
    position: relative;
    z-index: 1;

    @include max(xl) {
      display: flex;
      margin: 0 30px;
    }

    &.swiper-pagination-lock {
      display: none;
    }

    .swiper-pagination-bullet {
      display: block;
      width: 20px;
      height: 2px;
      background-color: $lightBlue;
      cursor: pointer;

      &-active {
        background-color: $blue;
      }
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 52%;

    @include max(xl) {
      position: relative;
      top: unset;
      bottom: 0;
    }
  }

  &__prev {
    left: -45px;

    @include max(xl) {
      left: 0;
    }
  }

  &__next {
    right: -45px;

    @include max(xl) {
      right: 0;
    }
  }
}
