.custom-checkbox {
  display: block;

  &__text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    font-size: 14px;
    line-height: (22 / 14);
    color: $dark;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: solid 1px $gray;
      border-radius: 3px;
      transition: border-color 0.3s ease;
      background-color: $white;
    }
  }

  input:focus ~ &__text,
  &__text:hover {
    &::before {
      border-color: $dark;
    }
  }

  input:checked ~ &__text {
    &::before {
      //box-shadow: inset 0 0 0 5px $white;
      //background-color: $dark;
      background-repeat: no-repeat;
      background-size: 70% auto;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 515.556 515.556' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%232c60ae' d='m0 274.226 176.549 176.886L515.556 112.44l-48.67-47.997-290.337 290L47.996 225.891z'/%3e%3c/svg%3e");
    }
  }
}
