.title {
  font-weight: 500;
  color: $dark;

  &--large {
    font-size: 39px;
    line-height: 48px;

    @include max(sm) {
      font-size: 21px;
      line-height: 25.6px;
    }
  }

  &--medium {
    font-size: 31px;
    line-height: 38px;

    @include max(sm) {
      font-size: 21px;
      line-height: 25.6px;
    }
  }

  &--small {
    font-size: 24px;
    line-height: 29px;

    @include max(sm) {
      font-size: 21px;
      line-height: 25.6px;
    }
  }
}
