mixin product-preview(item)
  div(class= (item.cl ? item.cl + ' product-preview' : 'product-preview'))
    if item.label
      span.product-preview__label= item.label
    .product-preview__image 
      img(src="images/product-preview/" + item.img.n + ".jpg", srcset="images/product-preview/" + item.img.n + "@2x.jpg 2x", width= item.img.w || '', height= item.img.h || '',  alt= item.title)
    h3.product-preview__title 
      a(href="#")!= item.title
    .product-preview__text!= item.text
    .product-preview__middle 
      .product-preview__price 1&nbsp;200₽
        if item.isOldPrice
          .product-preview__price-old 1&nbsp;200₽
      if item.isOldPrice
        .product-preview__discount -10%
      if item.isOrderIt != true
        .product-preview__orders 150
    .product-preview__bottom 
      .product-preview__rating
        - let starCount = 4;
        while starCount--
          +icon('star')(width="15", height="15")
        +icon('star-empty')(width="15", height="15")
      if item.isOrderIt
        //-+button('Заказать', 'product-preview__btn button--order', 'box', '#')
        .product-preview__out-of-stock Нет в наличии
      else
        +button('В корзину', 'product-preview__btn button--to-cart', 'cart', '#')
      