extends ../layouts/default

block vars
	-
		const page = {
			title: 'Дейли-дайвинг на Красном море'
		};

		const bc = [
			{text: 'Статьи', url: URLS.articles},
			{text: page.title}
		];
		
block main
	article.inner-page
		.container
			+breadcrumbs(bc, 'inner-page__breadcrumbs')
		.inner-page__banner.article-banner(style='background-image: url("images/article/banner.png")')
			.container
				+title('Что лучше дейли-дайвинг или дайв-сафари?', 'h1', 'title--large')
				.article-banner__image
					img(src="images/article/main.jpg", srcset="images/article/main.jpg 2x", width="1238", height="697", alt="")
				.article-banner__meta
					.article-banner__meta-item
						+icon('date')(width='20', height='20')
						span 12.08.21
					.article-banner__meta-item
						+icon('views')(width='34', height='20')
						span 155
					.article-banner__meta-item
						+icon('share')(width='20', height='20')
		.container
			.text
				h3 Заголовок 1
				
				img.alignright(src="images/article/1.jpg", srcset="images/article/1.jpg 2x", width="397", height="434", alt="")

				p Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения новых предложений. Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
				
				p Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации модели развития. Не следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития.
				
				p Разнообразный и богатый опыт консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке модели.
				
				p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий. С другой стороны сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
				
				h3 Заголовок 2
				
				img.aligncenter(src="images/article/2.jpg", srcset="images/article/2.jpg 2x", width="1240", height="315", alt="")
				
				p Разнообразный и богатый опыт сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную роль формировании форм развития. Таким образом новая модель организационной деятельности играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития.
				
				ul
					li Идейные соображения высшего порядка, а также постоянный количественный рост;
					li И сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития;
					li Таким образом сложившаяся структура организации позволяет выполнять важные задания по разработке направлений развития;
					li Таким образом рамки и место обучения кадров в значительной степени обуславливает создание модели развития;
					li Повседневная практика показывает, что консультация с широким активом позволяет оценить значение систем массового участия.
					
				p Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание соответствующий условий активизации. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия.
					
				p Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития.
				
				p Товарищи! новая модель организационной деятельности требуют определения и уточнения направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание форм развития.
				
				p Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития.
				
				p Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития.
			.article-gallery
				each item in ['1','2','3','4','4','1','2','3']
					a(href="images/article-gallery/" + item + "-full.jpg", data-fancybox)
						img(src="images/article-gallery/" + item + ".jpg", srcset="images/article-gallery/" + item + "@2x.jpg 2x", width="310", height="293", alt="")

		section.articles.articles--similar
			.container
				.articles__row
					+title('Похожие статьи', '', 'title--medium articles__title')
					+button('Все статьи', 'button--angle articles__all', 'arrow-angle')
				.articles__wrapper
					.swiper-container.__js_articles-carousel
						.swiper-wrapper
							.articles__item.articles-card.swiper-slide
								.articles-card__image
									img(src="images/homepage/articles/1.jpg", srcset="images/homepage/articles/1.jpg 2x", width="397", height="246", alt="")
								.articles-card__content
									.articles-card__title Что такое дейли дайвинг <br> или сафари. Его особенности
									.articles-card__row
										+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
										.articles-card__date 20.08.2021
							.articles__item.articles-card.swiper-slide
								.articles-card__image
									img(src="images/homepage/articles/2.jpg", srcset="images/homepage/articles/2.jpg 2x", width="397", height="246", alt="")
								.articles-card__content
									.articles-card__title Сайдмаунт - плюсы и минусы. Сложности сборки
									.articles-card__row
										+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
										.articles-card__date 20.08.2021
							.articles__item.articles-card.swiper-slide
								.articles-card__image
									img(src="images/homepage/articles/3.jpg", srcset="images/homepage/articles/3.jpg 2x", width="397", height="246", alt="")
								.articles-card__content
									.articles-card__title Лучшие места для дайвинга. <br> Наша подборка
									.articles-card__row
										+button('Подробнее', 'button--angle articles-card__more', 'arrow-angle')
										.articles-card__date 20.08.2021


					.articles__nav
						+button('', 'button--outline button--icon slick-prev articles__prev', 'chevron-right')
						.articles__pagination
						+button('', 'button--outline button--icon slick-next articles__next', 'chevron-right')
