extends ../layouts/default

block vars
  -
    const page = {
      title: 'Личный кабинет'
    };

    const bc = [
      {text: page.title}
    ];



block main
  article.inner-page
    header.inner-page__header
      .container
        +breadcrumbs(bc, 'inner-page__breadcrumbs no-margin')
    
    .container
      section.inner-page__form-section.form-section
        +title('Регистрация', 'h1', 'title--medium form-section__title')

        form(action="#", method="post")
          label.form-section__field.field
            span.field__hint Ваш логин*
            input(type="text", name="login")
          label.form-section__field.field
            span.field__hint Ваш email*
            input(type="email", name="email")
          label.form-section__field.field
            span.field__hint Пароль*
            input(type="password", name="password")
          label.form-section__field.field
            span.field__hint Подтвердить пароль*
            input(type="password", name="repeat-password")
          .form-section__action 
            +button('Зарегистрироваться', 'form-section__btn')(type="submit")
        .form-section__text Добро пожаловать!