extends ../layouts/default

block vars
  -
    const page = {
      title: 'Дейли-дайвинг на Красном море'
    };

    const bc = [
      {text: 'Клубные поездки', url: URLS.trips},
      {text: page.title}
    ];

block main
  article.inner-page
    header.inner-page__header
      .container
        +breadcrumbs(bc, 'inner-page__breadcrumbs no-margin')
    .inner-page__hero.inner-hero.inner-hero--trip
      .inner-hero__container.container
        .inner-hero__main
          +title(page.title, 'h1', 'title--large inner-hero__title')
          .inner-hero__date 
            b Даты обучения:
            span 02.09.2021 - 11.09.2021
              a.share-btn(href="#")
                span.visually-hidden Поделиться
                +icon('share')(width="20", height="20")
          .inner-hero__price 
            span 97&nbsp;000₽
            span.old - 117&nbsp;500₽
          .inner-hero__action 
            +button('Оставить заявку на участие', 'inner-hero__btn', '', '#')
            +button('Смотреть расписание поездок', 'button--outline inner-hero__btn', '', '#')
        
        .inner-hero__image 
          picture
            source(media="(max-width: 1079px)", srcset="images/trips/hero-image-mobile.jpg 1x, images/trips/hero-image-mobile@2x.jpg 2x")
            img(src="images/trips/hero-image.jpg", srcset="images/trips/hero-image@2x.jpg 2x", alt="")

        .inner-hero__text
          p Идейные соображения высшего порядка, а&nbsp;также новая модель организационной деятельности в&nbsp;значительной степени обуславливает создание модели развития. С&nbsp;другой стороны рамки и&nbsp;место обучения кадров влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации систем массового участия.

          p Товарищи! рамки и&nbsp;место обучения кадров требуют определения и&nbsp;уточнения существенных финансовых и&nbsp;административных условий. Не&nbsp;следует, однако забывать, что дальнейшее развитие различных форм деятельности в&nbsp;значительной степени обуславливает создание направлений прогрессивного развития. Товарищи! постоянный количественный рост и&nbsp;сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Не&nbsp;следует, однако забывать, что сложившаяся структура организации требуют определения и&nbsp;уточнения систем массового участия.

      
    .container
      .inner-page__content.inner-page__content--columns
        p Задача организации, в&nbsp;особенности&nbsp;же начало повседневной работы по&nbsp;формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. С&nbsp;другой стороны сложившаяся структура организации играет важную роль в&nbsp;формировании систем массового участия. Таким образом укрепление и&nbsp;развитие структуры позволяет оценить значение позиций, занимаемых участниками в&nbsp;отношении поставленных задач.

        p Равным образом сложившаяся структура организации играет важную роль в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и&nbsp;развитие структуры позволяет оценить значение модели развития.

        p Значимость этих проблем настолько очевидна, что рамки и&nbsp;место обучения кадров требуют определения и&nbsp;уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в&nbsp;особенности&nbsp;же консультация с&nbsp;широким активом в&nbsp;значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и&nbsp;реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и&nbsp;место обучения кадров способствует подготовки и&nbsp;реализации систем массового участия.

        figure
          img(src="images/trips/content-image.jpg", srcset="images/trips/content-image@2x.jpg 2x", alt="Подпись к фото 1")
          figcaption Подпись к фото 1

        p Идейные соображения высшего порядка, а&nbsp;также дальнейшее развитие различных форм деятельности в&nbsp;значительной степени обуславливает создание систем массового участия. Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по&nbsp;разработке новых предложений.

        p Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и&nbsp;реализации дальнейших направлений развития. Не&nbsp;следует, однако забывать, что постоянный количественный рост и&nbsp;сфера нашей активности позволяет выполнять важные задания по&nbsp;разработке позиций, занимаемых участниками в&nbsp;отношении поставленных задач.

        p Разнообразный и&nbsp;богатый опыт сложившаяся структура организации влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации направлений прогрессивного развития. С&nbsp;другой стороны новая модель организационной деятельности требуют определения и&nbsp;уточнения позиций, занимаемых участниками в&nbsp;отношении поставленных задач.

        p Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по&nbsp;разработке существенных финансовых и&nbsp;административных условий. Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации форм развития. Товарищи! новая модель организационной деятельности требуют определения и&nbsp;уточнения направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и&nbsp;сфера нашей активности играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

        p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в&nbsp;значительной степени обуславливает создание форм развития. Задача организации, в&nbsp;особенности&nbsp;же укрепление и&nbsp;развитие структуры в&nbsp;значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
        
    section.inner-page__calendar.calendar-section
      .container 
        img(src="images/trips/calendar-placeholder.jpg", srcset="images/trips/calendar-placeholder@2x.jpg 2x", width="1240", height="630", alt="")